# Introduction to Pandas

Pandas is a package built on top of NumPy that provides an efficient implementation of a **DataFrame**. 

DataFrames are essentially multidimensional arrays with attached row and column labels, often with heterogeneous types and/or missing data. Pandas implements a number of powerful data operations familiar to users of both database frameworks and spreadsheet programs.


## Learning objectives

1. Fundamental Pandas data structures: the `Series`, `DataFrame`, and `Index`.
2. Indexing 
3. Selection
4. Converting data types
5. Inspection and exploring
6. Renaming, removing, and creating columns
7. Renaming and removing rows

and more

In [2]:
import numpy as np
import pandas as pd

## Pandas data structure: Series

A Pandas Series is a **one-dimensional array** of **indexed data**. 
- Can be created from a list or array or dictionary
- Combines values with **explicitly defined** indices
- like a vector

In [3]:
x = pd.Series([2.3, 5.4, 3, 9])
x

0    2.3
1    5.4
2    3.0
3    9.0
dtype: float64

In [4]:
x.values

array([2.3, 5.4, 3. , 9. ])

In [5]:
x.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
# index
x[0]

2.3

In [12]:
x[1:3]

b    5.4
c    3.0
dtype: float64

In [8]:
x.dtype

dtype('float64')

In [14]:
# explicitly defined index
x = pd.Series([2.3, 5.4, 3, 9], index=["a", "b", "c", "d"])
x

a    2.3
b    5.4
c    3.0
d    9.0
dtype: float64

In [16]:
x["b"]

5.4

In [15]:
x[1]

C:\Users\conor\AppData\Local\Temp\ipykernel_27752\4118936608.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x[1]

5.4

#### Series as specialized dictionary

In [17]:
population_dict = {'California': 39538223, 
                   'Texas': 29145505,
                   'Florida': 21538187, 
                   'New York': 20201249,
                   'Pennsylvania': 13002700}
pop = pd.Series(population_dict)
pop

California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700
dtype: int64

In [18]:
pop["California"]

39538223

In [19]:
pop["California":"Florida"]

California    39538223
Texas         29145505
Florida       21538187
dtype: int64

In [20]:
x = pd.Series(["Mon", "Tue", "Wed", "Thu", "Fri"])
x

0    Mon
1    Tue
2    Wed
3    Thu
4    Fri
dtype: object

In [21]:
x.dtype

dtype('O')

"0" refers to general data type.

Change the datatype using .astype()

For example, `x.astype(int)`, `x.astype(str)`, `x.astype(float)`, `x.astype("category")`

In [22]:
x = x.astype("category")
x

0    Mon
1    Tue
2    Wed
3    Thu
4    Fri
dtype: category
Categories (5, object): ['Fri', 'Mon', 'Thu', 'Tue', 'Wed']

When you convert a `Series` to a categorical type, it can have an order defined, which allows for comparisons between categories. The `ordered` attribute tells you whether the categories are treated as ordered or not.

In [26]:
x.cat.ordered

True

In [25]:
x = x.cat.reorder_categories(['Mon', 'Tue', 'Wed', 'Thu', 'Fri'], ordered=True)
x

0    Mon
1    Tue
2    Wed
3    Thu
4    Fri
dtype: category
Categories (5, object): ['Mon' < 'Tue' < 'Wed' < 'Thu' < 'Fri']

## Pandas data structure: DataFrame

a DataFrame can be viewed as a **two-dimensional array** with **explicit row and column indices**. You can think of a DataFrame as a sequence of aligned Series objects. 

`DataFrame` is like a matrix. Columns in a DataFrame are `Series`. 

- Each column is a variable. 
- Each row is an observation. 
- Each cell stores a value.

In [27]:
area_dict = {'California': 423967, 
             'Texas': 695662, 
             'Florida': 170312,
             'New York': 141297, 
             'Pennsylvania': 119280}
area = pd.Series(area_dict)
area

California      423967
Texas           695662
Florida         170312
New York        141297
Pennsylvania    119280
dtype: int64

In [28]:
data = pd.DataFrame({"population": pop, "area": area})
data

              population    area
California      39538223  423967
Texas           29145505  695662
Florida         21538187  170312
New York        20201249  141297
Pennsylvania    13002700  119280

In [29]:
# row Index
data.index

Index(['California', 'Texas', 'Florida', 'New York', 'Pennsylvania'], dtype='object')

In [30]:
# column Index
data.columns

Index(['population', 'area'], dtype='object')

In [31]:
data["population"]

California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700
Name: population, dtype: int64

In addition to using dictionary, a DataFrame object can be created from 
- a list of dicts
- a 2D NumPy array

In [32]:
data = pd.DataFrame([{"a": 1, "b": 2}, {"b": 3, "c": 4}])
data

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [33]:
data = pd.DataFrame(np.random.random(10).reshape(5,2), columns=['feature1', 'feature2'])
data

   feature1  feature2
0  0.306890  0.836358
1  0.545060  0.331645
2  0.749247  0.293789
3  0.880794  0.283258
4  0.941039  0.018504

A most common way to create a data frame is from file.

import seaborn as sns
import pandas as pd

# Load Iris dataset
iris = sns.load_dataset('iris')

# Display the first few rows of the dataset
print(iris.head())

# Optionally, save it as a CSV file
iris.to_csv('iris.csv', index=False)

In [34]:
df = pd.read_csv("iris.csv")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

## Pandas data structure: Index

`Index` can be thought of either as an **immutable array** or as an **ordered set**. 

Row and column identifiers of a DataFrame are of `Index` type.

In [38]:
ind = pd.Index([2,3,4,5,6,8,10])
ind

Index([2, 3, 4, 5, 6, 8, 10], dtype='int64')

In [36]:
ind[2:]

Index([4, 5, 6, 8, 10], dtype='int64')

In [37]:
ind.shape

(7,)

In [39]:
#ind[0] = -2

TypeError: Index does not support mutable operations

In [40]:
# set operations
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [41]:
indA.union(indB)

Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [42]:
indA.difference(indB)

Index([1, 9], dtype='int64')

In [43]:
indA.intersection(indB)

Index([3, 5, 7], dtype='int64')

In [44]:
x = pd.read_csv("iris.csv")
x

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [45]:
x.set_index("sepal_length")

              sepal_width  petal_length  petal_width    species
sepal_length
5.1                   3.5           1.4          0.2     setosa
4.9                   3.0           1.4          0.2     setosa
4.7                   3.2           1.3          0.2     setosa
4.6                   3.1           1.5          0.2     setosa
5.0                   3.6           1.4          0.2     setosa
...                   ...           ...          ...        ...
6.7                   3.0           5.2          2.3  virginica
6.3                   2.5           5.0          1.9  virginica
6.5                   3.0           5.2          2.0  virginica
6.2                   3.4           5.4          2.3  virginica
5.9                   3.0           5.1          1.8  virginica

[150 rows x 4 columns]

In [46]:
x.reset_index(drop=True)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

## Indexing

In [47]:
data = pd.Series([0.1, 2.31, -1.2], index=[0, 1, 2])
data

0    0.10
1    2.31
2   -1.20
dtype: float64

In [48]:
data[1]

2.31

In [49]:
data.keys()

Index([0, 1, 2], dtype='int64')

In [50]:
list(data.items())

[(0, 0.1), (1, 2.31), (2, -1.2)]

In [51]:
data[7] = 3.141
data

0    0.100
1    2.310
2   -1.200
7    3.141
dtype: float64

In [52]:
# slicing
data[1:3]

1    2.31
2   -1.20
dtype: float64

In [53]:
# masking
data[(data>0) & (data<1)]

0    0.1
dtype: float64

In [54]:
data[[1,2]]

1    2.31
2   -1.20
dtype: float64

Note: If your Series has an explicit integer index, an indexing operation will use the explicit indices, while a slicing operation will use the implicit Python-style indices.

In [55]:
data = pd.Series([0.1, 2.31, -1.2, 3.14], index=[1,3,5,7])

In [56]:
data[7]

3.14

In [58]:
data[2:4]

5   -1.20
7    3.14
dtype: float64

Hmmm, not good. Always confusing. **Use `loc` and `iloc`**

`loc` allows indexing and slicing that always references the explicit index. 

`iloc` allows indexing and slicing that always references the implicit Python-style index.

In [61]:
data.loc[3]

2.31

In [62]:
data.loc[7]

3.14

In [63]:
data.loc[2:6]

3    2.31
5   -1.20
dtype: float64

In [64]:
data.iloc[0]

0.1

In [65]:
data.iloc[3]

3.14

In [66]:
data.iloc[1:3]

3    2.31
5   -1.20
dtype: float64

## Selection

import seaborn as sns
import numpy as np
import pandas as pd

# Load Titanic dataset using seaborn
titanic = sns.load_dataset('titanic')

titanic.to_csv("titanic.csv", index = False)

In [67]:
df = pd.read_csv("titanic.csv")
df.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
# select columns
df["age"]

In [ ]:
df.age # this doesn't always work. If the column name is not string or conflict with methods of DataFrame

In [ ]:
df.iloc[:,1]

In [ ]:
df.iloc[:3, 1]

In [ ]:
df.loc[df["age"] < 18]

In [ ]:
df.loc[df["age"] < 18, ["alive", "sex", "age"]]

In [ ]:
df.iloc[0,1] = 0

In [ ]:
df.head(1)

## Converting data types

In [ ]:
# understand data types
df.dtypes

In [ ]:
df["pclass"].unique()

In [ ]:
# Convert Pclass from object to category. 
df["pclass"] = df["pclass"].astype("category")
df["pclass"].dtype

## Inspection and exploring

In [ ]:
df.shape

In [ ]:
df.head(5)

In [ ]:
df.tail(5)

In [ ]:
df.sample(n=5)

In [ ]:
df.sample(frac=0.01)

In [ ]:
df.describe()

## renaming columns

In [ ]:
orig_colnames = df.columns
orig_colnames

In [ ]:
df.columns = list("abcdefghijklmno")
df

In [ ]:
df.columns = orig_colnames
df

## removing columns

In [ ]:
df.drop("survived", axis=1)

In [ ]:
df.drop(columns=["pclass","survived", "sex", "age"])

## transforming and creating columns

In [ ]:
df["Fare + Age"] = df["fare"] + df["age"]
df

In [ ]:
df["fare"] = np.round(df["fare"],2)
df

### renaming rows

In [ ]:
df_sub = df.sample(n=3, random_state=42)
df_sub

In [ ]:
df_sub.rename({709:"a", 439:"b", 840:"c"})

In [ ]:
df_sub.index=["hello", "world", "!"]
df_sub

In [ ]:
df_sub.reset_index(drop=True)

### removing rows

In [ ]:
df_sub = df.sample(n=10, random_state=42)
df_sub

In [ ]:
df_sub.drop([296,535], axis=0)

In [ ]:
idx = df_sub.loc[df_sub["alone"] == True].index
idx

In [ ]:
df_sub.drop(idx, axis=0)

In [ ]:
df_sub.query("age <= 30 and sex == 'female'")

## Operating

In [ ]:
A = pd.DataFrame(np.random.randint(0,10,15).reshape(5,3), columns=["f1", "f2", "f3"])
A

In [ ]:
B = pd.DataFrame(np.random.randint(0,10,6).reshape(2,3), columns=["f1", "f2", "f4"])
B

In [ ]:
A+B

In [ ]:
A - A.iloc[0]

## Missing values

Missing values are quite common in real datasets. Pandas provides useful methods for detecting, removing, and replacing null values in Pandas data structures.

- `isnull`: Generates a Boolean mask indicating missing values
- `notnull`: Opposite of isnull
- `dropna`: Returns a filtered version of the data
- `fillna`: Returns a copy of the data with missing values filled or imputed

In [ ]:
df = pd.DataFrame([[1, np.nan, 2], [2, 3, 5], [np.nan, 4, 6]])
df

In [ ]:
df.isnull()

In [ ]:
df.notnull()

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis=1)

In [ ]:
df[3] = np.nan
df

In [ ]:
df.dropna(axis=1, how="all")

In [ ]:
df.dropna(thresh=3)

In [ ]:
# fillna
df

In [ ]:
# fillna with a single value
df.fillna(-100)

In [ ]:
df.fillna(df.mean(axis=0))

In [ ]:
df.fillna(method="ffill")

In [ ]:
df.fillna(method="bfill")

## Sorting

In [ ]:
iris = pd.read_csv("iris.csv")
iris

In [ ]:
sorted_iris = iris.sort_values(by='sepal_length', ascending=True)
sorted_iris

In [ ]:
sorted_iris = iris.sort_values(by=['sepal_length', 'petal_length'], ascending=[True, False])
sorted_iris

## MultiIndex

The `MultiIndex` represents multiple levels of indexing.

In [ ]:
index = [('California', 2010), ('California', 2020),
         ('New York', 2010), ('New York', 2020),
         ('Texas', 2010), ('Texas', 2020)]
populations = [37253956, 39538223, 19378102, 20201249, 25145561, 29145505]
index = pd.MultiIndex.from_tuples(index)
pop = pd.Series(populations, index=index)
pop

In [ ]:
pop["California"]

In [ ]:
pop[:,2020]

In [ ]:
df_pop = pd.DataFrame({'total': pop,
                       'under18': [9284094, 8898092, 4318033, 4181528, 6879014, 7432474]})
df_pop

In [ ]:
df_pop.index

In [ ]:
df_pop.index.names=["state", "year"]

In [ ]:
df_pop

In [ ]:
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]], names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']], names=['subject', 'type'])
X = np.random.random(24).reshape(4,6)
df = pd.DataFrame(X, index=index, columns=columns)
df

In [ ]:
df["Bob"]

In [ ]:
df.loc[[2013]]

In [ ]:
df.loc[(2013, 1),:]

In [ ]:
df.loc[:,("Bob", "HR")]

In [ ]:
idx = pd.IndexSlice
df.loc[idx[:, 1], idx[:, 'HR']]

## Combining datasets

### `concat`

In [ ]:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
pd.concat([ser1, ser2])

In [ ]:
df1 = pd.DataFrame(np.random.random((5,2)), columns=["A", "B"])
df2 = pd.DataFrame(np.random.random((5,2)), columns=["A", "B"])

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.concat([df1, df2])

In [ ]:
pd.concat([df1, df2], axis=1)

In [ ]:
# fix duplicate indices

In [ ]:
pd.concat([df1, df2], verify_integrity=True)

In [ ]:
pd.concat([df1, df2], ignore_index=True)

### `append`

In [ ]:
df1.append(df2)

In [ ]:
df1.append(df2, ignore_index=True)

# In-class activity: Divide the class into 22 groups for final project randomly. Each group has 4-5 students.

# Final project groups

In [ ]:
students_df = pd.read_csv('students_list.csv')

For example, there are 8 groups of 4 students and 14 groups of 5 students.